</div>
</main>
<footer>
    <p>&copy; Stanley Lai. All Right Reserve.</p>
</footer>


<!-- bubble effect on index page -->
<ul class="bubble">
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>

</body>
</html>