/* 
Student name: Stanley Lai
Student No: 301201143
File: style.scss 
Date: June 2, 2022
*/
/* reset  */
*, *::before, *::after {
  box-sizing: border-box; }

* {
  margin: 0; }

html, body {
  height: 100%; }

body {
  line-height: 1.5;
  font-size: 16;
  -webkit-font-smoothing: antialiased; }

a, button, a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none; }

img, picture, video, canvas, svg {
  display: inline-block;
  max-width: 100%; }

input, button, textarea, select {
  font: inherit;
  font-size: 1rem; }

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word; }

/* Variables */
/* Override Bootstrap */
.card {
  border-radius: 30px;
  border: none;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden; }

.navbar .nav-item .nav-link {
  padding: 15px 10px;
  font-size: 20px;
  border-radius: 30px;
  color: #45445F; }
  .navbar .nav-item .nav-link:hover {
    color: #F77C8D; }

.navbar .dropdown-menu {
  min-width: 250px; }
  .navbar .dropdown-menu .nav-link {
    padding: 0 15px; }

input.form-control, textarea.form-control {
  border: none;
  padding: 15px;
  border-radius: 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); }

/* Custom */
body {
  font-family: 'Poppins', sans-serif;
  background: #F9F9FF;
  color: #45445F;
  font-weight: 400; }

header .logo {
  height: 24px;
  margin-right: 10px;
  display: inline-block; }

footer {
  text-align: center;
  padding: 60px 30px 30px; }

.text-red {
  color: #F77C8D; }

.text-yellow {
  color: #F8D659; }

.text-green {
  color: #4DD6B6; }

.text-blue {
  color: #6D70E2; }

.bg-red {
  background-color: #F77C8D; }

.bg-yellow {
  background-color: #F8D659; }

.bg-green {
  background-color: #4DD6B6; }

.bg-blue {
  background-color: #6D70E2; }

.card-red {
  background-color: #F77C8D;
  color: #fff;
  box-shadow: 0px 0px 10px #f77c8d; }

.card-yellow {
  background-color: #F8D659;
  box-shadow: 0px 0px 10px #f8d659; }

.card-green {
  background-color: #4DD6B6;
  color: #fff;
  box-shadow: 0px 0px 10px #4dd6b6; }

.card-blue {
  background-color: #6D70E2;
  color: #fff;
  box-shadow: 0px 0px 10px #6d70e2; }

.btn-outline-red {
  border-color: #F77C8D;
  color: #F77C8D; }

.btn-outline-red:hover {
  background-color: #F77C8D;
  color: #fff; }

.btn-outline-blue {
  border-color: #6D70E2;
  color: #6D70E2; }

.btn-outline-blue:hover {
  background-color: #6D70E2;
  color: #fff; }

/* Page */
#home h1 {
  text-align: center; }

#home h2 {
  text-align: center;
  font-family: monospace; }

#about h1 {
  text-align: center;
  padding: 30px; }

#about h2 {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 30px; }

#about .card {
  margin-bottom: 30px; }

#about .bio {
  padding: 50px 100px;
  text-align: center;
  font-size: 18px; }

#about .profile-image {
  overflow: hidden;
  text-align: center; }
  #about .profile-image img {
    width: 300px;
    border-radius: 50%;
    display: inline-block;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); }

#about .information h2 {
  color: #6D70E2; }

#about .information .card-body div {
  padding-bottom: 15px; }

#about .job h2 {
  color: #F77C8D; }

#about .job .timeline {
  border-left: 1px solid #F77C8D; }
  #about .job .timeline i.bi, #about .job .timeline .title {
    color: #F77C8D; }

#about .skill h2 {
  text-align: center;
  padding-bottom: 30px;
  color: #6D70E2; }

#about .skill svg {
  display: inline-block;
  width: 48px;
  margin: 0 10px 20px;
  fill: #6D70E2; }
  #about .skill svg circle {
    fill: #6D70E2; }

#about .timeline {
  position: relative;
  margin-left: 15px;
  padding: 0 0 30px 30px;
  border-left: 1px solid #F77C8D; }

#about .timeline i.bi {
  position: absolute;
  top: 0;
  left: -15px;
  font-size: 28px;
  background-color: #fff; }

#about .timeline .title {
  font-size: 20px; }

#about .timeline .location {
  margin-left: 15px; }

#about .timeline ul {
  list-style: none;
  padding: 10px 0 0 0px;
  margin-bottom: 0; }

#about .timeline ul li {
  padding-bottom: 10px; }

#about .education {
  margin-bottom: 30px; }

#about .education h2 {
  color: #6D70E2; }

#about .education .timeline {
  border-left: 1px solid #6D70E2; }

#about .education .timeline i.bi, #about .education .timeline .title {
  color: #6D70E2; }

#projects h2 {
  padding: 30px; }

#projects .projects {
  text-align: center; }
  #projects .projects .card {
    position: relative;
    z-index: 10;
    margin-bottom: 30px;
    padding-top: 180px;
    transition: transform 0.4s; }
    #projects .projects .card .thumb {
      position: absolute;
      padding-top: 30px;
      top: 0px;
      left: 1px;
      right: 1px;
      bottom: 0;
      text-align: center;
      overflow: hidden; }
      #projects .projects .card .thumb img {
        width: 75%;
        height: auto;
        transition: transform 0.4s; }
    #projects .projects .card .card-body {
      position: relative;
      z-index: 2;
      background: #fff;
      border-radius: 0 0 30px 30px; }
  #projects .projects a:hover .thumb {
    top: 0px; }
  #projects .projects a:hover .card {
    transform: scale(1.05); }
  #projects .projects a:hover img {
    transform: scale(1.35) rotate(-15deg); }

#project-detail h2 {
  padding: 15px 0 0 15px; }

#project-detail .card {
  border: none;
  background: #fff;
  border-radius: 15px;
  padding: 15px; }
  #project-detail .card .image {
    text-align: center; }
  #project-detail .card .tag {
    display: flex;
    padding: 0 0 15px 15px; }
    #project-detail .card .tag div {
      margin-right: 15px; }
  #project-detail .card .btn {
    margin-left: auto; }

#services h1 {
  text-align: center;
  margin-bottom: 30px; }

#services .card {
  text-align: center;
  margin-bottom: 30px; }
  #services .card ul {
    list-style: none;
    padding: 0; }
    #services .card ul li {
      padding: 5px; }
  #services .card .card-title {
    font-size: 30px;
    font-weight: 800; }

#contact {
  position: relative;
  margin-top: 60px;
  padding-top: 30px;
  min-height: 100px; }
  #contact .information {
    position: relative;
    z-index: 2;
    padding-left: 3rem; }
  #contact .img-responsive {
    animation: MoveUpDown 1.5s linear infinite;
    position: absolute;
    left: 0;
    bottom: 0; }

/* animation */
.bubble {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden; }
  .bubble li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(0, 0, 0, 0.1);
    animation: animate 25s linear infinite;
    bottom: -150px; }
    .bubble li:nth-child(1) {
      left: 25%;
      width: 80px;
      height: 80px;
      background: #f77c8d;
      animation-delay: 0s; }
    .bubble li:nth-child(2) {
      left: 10%;
      width: 20px;
      height: 20px;
      background: #f8d659;
      animation-delay: 2s;
      animation-duration: 12s; }
    .bubble li:nth-child(3) {
      left: 70%;
      width: 20px;
      height: 20px;
      background: #4dd6b6;
      animation-delay: 4s; }
    .bubble li:nth-child(4) {
      left: 40%;
      width: 60px;
      height: 60px;
      background: #6d70e2;
      animation-delay: 0s;
      animation-duration: 18s; }
    .bubble li:nth-child(5) {
      left: 65%;
      width: 20px;
      height: 20px;
      background: #f77c8d;
      animation-delay: 0s; }
    .bubble li:nth-child(6) {
      left: 75%;
      width: 110px;
      height: 110px;
      background: #f8d659;
      animation-delay: 3s; }
    .bubble li:nth-child(7) {
      left: 35%;
      width: 150px;
      height: 150px;
      background: #4dd6b6;
      animation-delay: 7s; }
    .bubble li:nth-child(8) {
      left: 50%;
      width: 25px;
      height: 25px;
      background: #6d70e2;
      animation-delay: 15s;
      animation-duration: 45s; }
    .bubble li:nth-child(10) {
      left: 85%;
      width: 150px;
      height: 150px;
      background: #f8d659;
      animation-delay: 0s;
      animation-duration: 11s; }

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0; }
  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%; } }

@keyframes MoveUpDown {
  0%, 100% {
    bottom: -60px; }
  50% {
    bottom: -40px; } }

/*# sourceMappingURL=app.css.map */