<%- include ../partials/header.ejs %>
<!-- Content for the Add page -->
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1 class="my-5">Add Business Contact</h1>

            <form class="form" method="POST">
                <label for="input-name" class="form-label">Name</label>
                <input type="text" class="form-control mb-3" id="input-name" name="inputName" autocomplete="off" autofocus required>
            
                <label for="input-number" class="form-label">Contact Number</label>
                <input type="text" class="form-control mb-3" id="input-number" name="inputNumber" autocomplete="off" required>

                <label for="input-email" class="form-label">Email</label>
                <input type="text" class="form-control mb-3" id="input-email" name="inputEmail" autocomplete="off" required>            

                <div class="d-flex justify-content-between p-3">
                    <a href="/contact-list" class="btn"><i class="bi bi-reply"></i> Cancel</a>
                    <button class="btn btn-outline-blue" type="submit"><i class="bi bi-pen"></i> Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
<%- include ../partials/footer.ejs %>